body{
    background-color:#70A1FF;
    overflow: auto;
}
.bodyBranco{
    background-color: white;
}
.logo{
    padding:50px;
    text-align: center;
}
.textBranco{
    color: white;
}

#divButtonEntrar
{
    text-align: center;
}

.btnAmarelo{
    
    background-color: #FFC107;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: .30rem;
    border: none;
}
#divBtnCadastrar{
    text-align: center;

}
#btnEntrar{
    margin:14px;
    width:160px;
 
}
#btnCadastrar{
    margin:14px;
    width:160px;

}

.btn-link{
    color: white;
}
h2{
   text-align: center;
    font-size: calc(1.325rem + .9vw);
    color: white;

}
.subTituloMenu{
    text-align: center;
    font-size: 30px;
    color:#70A1FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}
#navbarNav{
    color:#70A1FF;
}
.card-header{
  background-color:#70A1FF;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
